@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Kornilow';
  src: url('/fonts/Kornilow.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Kornilow', sans-serif;
}

* {
  @apply transition-all duration-300 ease-in-out;
}

.swiper {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 280px;
  height: 210px;
}

@media (min-width: 1024px) {
  .swiper-slide {
    width: 140px;
    height: 105px;
  }
}

.swiper-slide img {
  display: block;
  width: 100%;
}

.mySwiper {
  max-width: 800px;
  margin: 0 auto;
}
